<% include ../partials/header %>

<section class="new_startup_banner_area">
    <div class="container">
        <form class="text-center" action="/search" method="POST">
            <button class="search_box_submit_btn" type="submit">๐</button>
            <input class="search_box" placeholder="... ุฃุจุญุซ ููุง" type="search" name="query" autofocus="off"
                autocomplete="off" required>
        </form>
        <div class="row text-center">

            <% if (phones){ %>
            <% phones.forEach(phone => { %>
            <div class="this_is_phone col-lg-4">
                <p><b><a href="phone/<%= phone.id%>"><%= phone.id%></a></b></p>
                <p><%= phone.brand%><b> : ูุงุฑูุฉ ุงููุงุชู</b></p>

                <%if (phone.imei_number) { %>
                <p><%= phone.imei_number%><b> : IMEI</b></p>
                <%}else{%>
                <p> ุบูุฑ ูุนุฑูู : IMEI</p>
                <% } %>
                <p><%= moment(phone.created_at).format( 'LLL') %><b> : ุชุงุฑูุฎ ุงูุฅุถุงูุฉ</b></p>
                <p> <%if (phone.user_id == user.id) {%>
                    <a href="remove/<%= phone.id%>">ุญุฐู</a>
                    <% } %>
                </p>
            </div>
            <% }); %>
            <% } %>
        </div>

</section>
<div class="spacer"></div>
<% include ../partials/footer %>