<% include ../partials/header %>

<section class="new_startup_banner_area">
    <div class="container">

        <div class="row text-right">
            <div class="col-lg-12" style="font-size: 20px;">
                <h5 style="font-size: 30px;font-weight:900;"><%=phone.brand%> : عرض معلومات عن هاتف</h5>
                <a href="/dashboard">☇ الرجوع للخلف</a>
                <br><br>
                <form class="primary_form" action="/add_new_phone" method="POST">
                    <label for=""> : الرقم التسلسلي</label>
                    <p><%=phone.id%></p>
                    <br>
                    <label for=""> : أسم المالك</label>
                    <p><%=phone.owner_name%></p>
                    <br>
                    <label for=""> : رقم التواصل</label>
                    <% if(typeof phone.contact_number != 'undefined') {%>
                    <p><%=phone.contact_number%></p>
                    <%}%>
                    <br>
                    <label for=""> : ماركة الهاتف</label>
                    <% if(typeof phone.brand != 'undefined') {%>
                    <p><%=phone.brand%></p>
                    <%}%>
                    <br>
                    <label for=""> : رقم موديل الهاتف</label>
                    <% if(typeof phone.model_number != 'undefined') {%>
                    <p><%=phone.model_number%></p>
                    <%}%>
                    <br>
                    <label for=""> : IMEI</label>
                    <% if(typeof phone.imei_number != 'undefined') {%>
                    <p><%=phone.imei_number%></p>
                    <%}else{%>
                    <p>غير معروف</p>
                    <% } %>
                    <br>
                    <label for=""> : ملاحظات أخري</label>
                    <% if(typeof phone.notes != 'undefined') {%>
                    <p><%=phone.notes%></p>
                    <%}%>
                    <br><br>
                    
                </form>
            </div>
        </div>
    </div>

</section>
        
<% include ../partials/footer %>