<% include ../partials/header %>

<section class="new_startup_banner_area">
  <div class="container">
      <div class="row text-center">
          <div class="col-lg-12">
              
              <form action="/search" method="POST">
                <button class="search_box_submit_btn" type="submit"><i class="fas fa-search"></i></button>
                <input class="search_box" placeholder="IMEI أبحث بأستخدام ماركة الهاتف أو موديل الهاتف أو رقم" type="search" name="query" autofocus="off" autocomplete="off" required>
              </form>
              
              
              <table class="table table-borderless" style="background-color: #000;direction: rtl;">
                    <thead>
                        <tr>
                        <th scope="col">الرقم التسلسلي</th>
                        
                        <th scope="col">ماركة الهاتف</th>
                        
                        <th scope="col">رقم IMEI</th>
                        <th scope="col">تاريخ الأضافة</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (phones){ %>
                            <% phones.forEach(phone => { %>
                            
                                <tr>
                                    <td><a href="phone/<%= phone.id%>"><%= phone.id%></a></td>
                                    
                                    <td><%= phone.brand %></td>
                                    
                                    <%if (phone.imei_number) { %>
                                        <td><%= phone.imei_number %></td>
                                    <%}else{%>
                                        <td>غير معروف</td>
                                    <% } %>
                                    <td><%= moment(phone.created_at).format( 'LLL') %></td>
                                
                                </tr>
                            
                            <% }); %>
                    <% }else{ %>
                        <p>لا يوجد أي هواتف</p>
                    <% } %>
                    </tbody>
                    </table>
          </div>
      </div>
  </div>

</section>        
<% include ../partials/footer %>